@page "/forgot-password"
@attribute [AllowAnonymous]

@using GdeWeb.Components.Layout
@using GdeWeb.Interfaces
@using GdeWeb.Services
@using GdeWebModels
@using System.ComponentModel.DataAnnotations
@using System.Text.RegularExpressions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization

@inject IAuthService authService
@inject IUserService userService
@inject ISnackbarService snackbarService
@inject NavigationManager navigationManager
@inject AuthenticationStateProvider authenticationStateProvider

<style>
    .footer {
        display: none;
    }

    /* A MudItem legyen "vágó" keret */
    .image-wrap {
        position: relative;
        /* VÁLASSZ EGYET a két magasság-koncepció közül: */
        /* 1) Töltse ki a viewport magasságát: */
        /* height: 100vh; */
        /* 2) VAGY: Töltse ki a szülő eleme magasságát:
             height: 100%;
             (ehhez a szülőknek is meg kell adni a magasságot, pl. a MudGrid-nek/fő konténernek) */

        overflow: hidden; /* jobbra (és minden irányba) levág */
    }

    /* A kép balra rögzítve, magasságban mindig kitölt */
    .image-fill-left {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%; /* mindig kitölti a konténer magasságát */
        width: auto; /* arányt tart, szélesség nőhet a konténeren túl */
        display: block; /* inline gap-ek elkerülése */
    }

    /* A kép középre igazítva, magasságot kitöltve */
    .image-fill-center {
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        min-width: 100%;
        width: auto;
        transform: translate(-50%, -50%); /* középre helyezés */
        display: block;
    }

    .mud-card-content {
        align-content: center;
    }
</style>

<PageTitle>Elfelejtett jelszó</PageTitle>

<div class="main-page container-center">
    @if (!PageLoading)
    {
        <!-- BODY -->
        <MudGrid Justify="Justify.SpaceEvenly" Class="pa-0 h-100" Spacing="0">

            <MudItem xs="0" sm="0" md="6" lg="8" xl="9" xxl="10" Style="align-content: center; text-align: center;" Class="image-wrap">

                <BlazorAnimate.Animate Animation="Animations.Fade" Delay="TimeSpan.FromSeconds(MainLayout.animationDelay)" Duration="TimeSpan.FromSeconds(MainLayout.animationDuration)" style="height: 100%">
                    <MudImage Src="img/auth_ai_large.jpg" Alt="AI" Elevation="25" Class="image-fill-center" />
                </BlazorAnimate.Animate>

            </MudItem>

            <MudItem xs="12" sm="12" md="6" lg="4" xl="3" xxl="2" Style="align-content: center; text-align: center;">

                <BlazorAnimate.Animate Animation="Animations.ZoomIn" Delay="TimeSpan.FromSeconds(MainLayout.animationDelay)" Duration="TimeSpan.FromSeconds(MainLayout.animationDuration)" style="height: 100%">

                    <MudCard Elevation="0" Class="card-max h-100">
                        <MudCardContent>

                            <MudForm Model="@model" @ref="form" @bind-Errors="@errors">

                                <MudText Align="Align.Left" Typo="Typo.h1" Class="card-title" Color="Color.Secondary">
                                    Elfelejtett jelszó
                                </MudText>

                                <MudText Align="Align.Left" Typo="Typo.h5" Class="card-subtitle" Style="margin-bottom: 40px;">
                                    Adja meg regisztrált e-mail címét a jelszó visszaállításához!
                                </MudText>

                                <MudTextField T="string" Class="card-input" @bind-Value="@model.Email" Label="E-mail cím megadása" Variant="Variant.Text"
                                              Required="@required" RequiredError="Az e-mail cím megadása kötelező." OnlyValidateIfDirty="true" ErrorText=""
                                              Validation="@(new EmailAddressAttribute() { ErrorMessage = "Az e-mail cím formátuma érvénytelen." })" Disabled="isLoading"></MudTextField>

                                <MudButton Class="card-button" Variant="Variant.Filled" Color="Color.Primary" DropShadow="true" OnClick="@Submits" Style="margin-top: 40px;" Disabled="isLoading">Küldés</MudButton>

                                <MudText Align="Align.Left" Typo="Typo.body1" Class="card-links">
                                    Már van fiókja?
                                    <MudLink OnClick="@(() => MainLayout.GoTo("signin"))" Underline="Underline.Always" Color="Color.Primary" Typo="Typo.body1" Class="card-link">Kattintson ide</MudLink>
                                </MudText>

                                <MudText Align="Align.Left" Typo="Typo.body1" Class="card-links">
                                    Még nincs fiókja?
                                    <MudLink OnClick="@(() => MainLayout.GoTo("signup"))" Underline="Underline.Always" Color="Color.Primary" Typo="Typo.body1" Class="card-link">Kattintson ide</MudLink>
                                </MudText>

                                <MudText Align="Align.Left" Typo="Typo.body1" Class="card-links">
                                    A regisztrációval elfogadja a
                                    <MudLink OnClick="@(() => MainLayout.GoTo("privacy"))" Underline="Underline.Always" Color="Color.Primary" Typo="Typo.body1" Class="card-link">Felhasználási feltételeket</MudLink>
                                </MudText>

                            </MudForm>

                        </MudCardContent>
                    </MudCard>

                </BlazorAnimate.Animate>

            </MudItem>

        </MudGrid>

    }
    else
    {
        <!-- LOADING -->
        <div class="loading-center">
            <MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
        </div>
    }
</div>

@code {
    [CascadingParameter]
    public MainLayout MainLayout { get; set; } = default!;

    // LOADING PARAMETERS
    private bool PageLoading = true; // true

    // IS LOADING
    private bool isLoading = false;

    // FORM
    private ForgotModel model = new ForgotModel();
    private string[] errors = { };
    private MudForm form = new MudForm();
    private bool required { get; set; } = false;


    /// <summary>
    /// PAGE LOAD
    /// </summary>
    #region PAGE LOAD
    protected override async Task OnInitializedAsync()
    {
        try
        {
            await Task.Delay(1);
            base.OnInitialized();
        }
        catch (Exception ex)
        {
            snackbarService.ShowSnackbar(Severity.Error, $"Hiba történt a betöltés során: {ex.Message.ToString()}", MainLayout.pageWidth);
        }

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Page load end
            await Task.Delay(500);
            PageLoading = false;

            StateHasChanged();
        }
    }
    #endregion


    /// <summary>
    /// BUTTON FUNCTIONS
    /// </summary>
    #region BUTTON FUNCTIONS
    private async Task Submits()
    {
        try
        {
            isLoading = true;                // kurzor be
            StateHasChanged();

            // Required validation
            required = true;
            StateHasChanged();
            await Task.Delay(100);
            // run the standard Validation
            await form.Validate();
            // Fake a database async call to check if the user exists
            await Task.Delay(100);
            //Just for Testing trip validation
            if (form.IsValid)
            {
                ResultModel resultModel = await userService.ForgotPassword(new ForgotModel { Email = model.Email });
                if (resultModel != null)
                {
                    if (resultModel.Success)
                    {
                        snackbarService.ShowSnackbar(Severity.Success, "Minden mező rendben van! A jelszó visszaállításához az e-mail elküldve.", MainLayout.pageWidth);
                        await Task.Delay(3000);
                        navigationManager.NavigateTo("/");
                    }
                    else
                    {
                        snackbarService.ShowSnackbar(Severity.Error, resultModel.ErrorMessage, MainLayout.pageWidth);
                        StateHasChanged();
                    }
                }
                else
                {
                    snackbarService.ShowSnackbar(Severity.Error, "Hiba történt a lekérdezés során!", MainLayout.pageWidth);
                }
            }
            else
            {
                foreach (String error in errors)
                {
                    if (!string.IsNullOrEmpty(error))
                    {
                        snackbarService.ShowSnackbar(Severity.Error, error, MainLayout.pageWidth);
                    }
                }
                await Task.Delay(1000); // Várakozás 1 másodpercig
                form.ResetValidation();
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            snackbarService.ShowSnackbar(Severity.Error, $"Hiba történt a művelet során: {ex.Message.ToString()}", MainLayout.pageWidth);
        }
        finally
        {
            isLoading = false;              // kurzor ki
            StateHasChanged();
        }
    }
    #endregion
}
