@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <div class="d-flex flex-column flex-grow-1 centerOuter" style="width: 100%; height: 100% !important;">
                        <div class="container centerInner" style="text-align:center;">

                            You are not authorized to view this page!

                        </div>
                    </div>
                </NotAuthorized>
                <Authorizing>
                    <div class="d-flex flex-column flex-grow-1 centerOuter" style="width: 100%; height: 100% !important;">
                        <div class="container centerInner" style="text-align:center;">

                            Please wait while user authentication is in progress.

                        </div>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(Layout.MainLayout)">
                <div class="d-flex flex-column flex-grow-1 centerOuter" style="width: 100%; height: 100% !important;">
                    <div class="container centerInner" style="text-align:center;">

                        Page not found.

                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
